:root{
    --color-bg: #111011;
    --color-special-text: rgb(109, 138, 255);
}

@font-face {
    font-family: "excali";
    src: url("../bettersearch/fonts/Virgil.woff2") format("woff2"),
         url("../bettersearch/fonts/fonts/Virgil.woff") format("woff"),
         url("../bettersearch/fonts/fonts/Virgil.ttf") format("truetype");
    font-weight: normal;
}

body{
    background: var(--color-bg);
    font-family: "excali", sans-serif;
    color: white;
    font-size: 1rem;
    margin: 0;
    user-select: none;
}

input::placeholder{
    font-family: "excali";
    font-size:  min(2vw, 30px);
}

.div-title{
    margin-top: 5%;
    text-align: center;
    font-size:  max(3vw, 36px);
}

.span-bttrsrch{
    color: var(--color-special-text);
    font-size:  max(3vw, 36px);
}

.div-search{
    margin: 5em auto 2em auto;
    display: flex;
    justify-content: center;
}

.input-search{
    padding: 0.3em 0.5em;
    background-color: whitesmoke;
    color: black;
    width: 55%;
    border-radius: 0.2em;
    border-style: none;
    font-size: max(1.3vw, 24px);
    font-family: "excali";
}

.input-search:focus{
    outline: none;
}

.btn:hover{
    cursor: pointer;
}


.btn-search:active{
    border-color: white;
}

.div-websites{
    margin-left: 21%;
    margin-top: 3em;
    font-size: min(3vw, 24px);
}

.p-search{
    font-size: 1.4em;
}

.btn{
    font-family: "excali";
    color: white;
    border: 2px solid;
    border-color: white;
    font-size: 0.9em;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: transparent;
}