:root{
    --color-bg: #111011;
    --color-special-text: rgb(109, 138, 255);
}

@font-face {
    font-family: "excali";
    src: url("fonts/Virgil.woff2") format("woff2"),
         url("../bettersearch/fonts/fonts/Virgil.woff") format("woff"),
         url("../bettersearch/fonts/fonts/Virgil.ttf") format("truetype");
    font-weight: normal;
}

body{
    background: var(--color-bg);
    font-family: "excali", sans-serif;
    color: white;
    font-size: 1rem;
    margin: 0;
    user-select: none;
}

input::placeholder{
    font-family: "excali";
    font-size:  min(2vw, 30px);
}

.div-title{
    margin-top: 3%;
    text-align: center;
    font-size:  max(3vw, 36px);
}

.span-bttrsrch{
    color: var(--color-special-text);
    font-size:  max(3vw, 36px);
}

.div-search{
    margin: 5em auto 2em auto;
    display: flex;
    justify-content: center;
}

.input-search{
    padding: 0.3em 0.5em;
    background-color: whitesmoke;
    color: black;
    width: 70%;
    border-radius: 0.2em;
    border-style: none;
    font-size: max(1.3vw, 24px);
    font-family: "excali";
}

.input-search:focus{
    outline: none;
}

.div-all{
    display: flex;
    margin-top: 3em;
}

.div-websites{
    text-align: left;
    width: 30%;
    margin-left: 14%;
    font-size: min(1.5vw, 2em);
}

.div-websites>button{
    float: left;
}

.div-search-head, .div-shortcut-head{
    font-size: 1.4em;
}

.div-shortcuts{
    text-align: right;
    width: 30%;
    margin-left: 12%;
    font-size: min(1.5vw, 2em);
}

.div-shortcuts>button{
    float: right;
}

.btn{
    font-family: "excali";
    color: white;
    border: 2px solid;
    border-color: white;
    font-size: 0.9em;
    margin: 0.5em 0.5em 0 0;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: transparent;
}

.btn:hover{
    cursor: pointer;
}


.btn-search:active{
    border-color: white;
}

.span-links{
    position: absolute;
    right: 1%;
    bottom: 1%;
    font-family: "excali";
}

.a-links{
    text-decoration: none;
    color: white;
}

.a-links:hover{
    color: var(--color-special-text);
}

.div-popup{
    position: absolute;
}