:root{
    --color-bg: #111011;
    --color-special-text: rgb(109, 138, 255);
}

@font-face {
    font-family: "excali";
    src: url("fonts/Virgil.woff2") format("woff2"),
         url("../bettersearch/fonts/fonts/Virgil.woff") format("woff"),
         url("../bettersearch/fonts/fonts/Virgil.ttf") format("truetype");
    font-weight: normal;
}

body{
    background: var(--color-bg);
    font-family: "excali", sans-serif;
    color: white;
    font-size: 1rem;
    margin: 0;
    user-select: none;
}

input::placeholder{
    font-family: "excali";
}

.div-title{
    margin-top: 3%;
    text-align: center;
    font-size:  max(3vw, 36px);
}

.span-bttrsrch{
    color: var(--color-special-text);
    font-size:  max(3vw, 36px);
}

.div-search{
    margin: 5em auto 2em auto;
    display: flex;
    justify-content: center;
}

.input-text{
    background-color: whitesmoke;
    padding: 0.3em 0.5em;
    color: black;
    width: 70%;
    border-radius: 0.2em;
    border-style: none;
    font-size: clamp(1.3rem, 1.3vw,2rem);
    font-family: "excali";
}

.input-text:focus{
    outline: var(--color-special-text) solid 0.2rem;
}

.div-all{
    display: flex;
    margin-top: 3em;
}

.div-websites{
    text-align: left;
    width: 30%;
    margin-left: 14%;
    font-size: min(1.5vw, 2em);
}

.div-websites>button{
    float: left;
}

.div-search-head, .div-shortcut-head{
    font-size: 1.4em;
}

.div-shortcuts{
    text-align: right;
    width: 30%;
    margin-left: 12%;
    font-size: min(1.5vw, 2em);
}

.div-shortcuts>button{
    float: right;
}

.btn{
    border-color: white;
    color: white;
    font-family: "excali";
    border: 0.125rem solid;
    font-size: 0.9em;
    margin: 0.5em 0.5em 0 0;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: transparent;
}

.btn:hover{
    cursor: pointer;
}


.btn-search:active{
    border-color: white;
}

.span-links{
    position: absolute;
    right: 1%;
    bottom: 1%;
    font-family: "excali";
}

.a-links{
    text-decoration: none;
    color: white;
}

.a-links:hover{
    color: var(--color-special-text);
}

.div-popup-bg{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.div-popup{
    border: 0.125rem solid whitesmoke;
    width: clamp(15rem, 50%, 30rem);
    padding: 1.5rem;
    background-color: var(--color-bg);
    border-radius: 1rem;
}

.div-popup-title{
    font-size: clamp(1rem, 3vw, 2.5rem);
    text-align: center;
    margin-bottom: 0.7rem;
}

.div-input-titles{
    margin-bottom: 0.225rem;
}

.input-add{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1.2rem;
}

.input-button{
    background-color: var(--color-special-text);
    border: 2px solid var(--color-special-text);
    color: white;
    font-family: "excali";
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 0.4em;
    width: clamp(2rem, 30%, 10rem);
    font-size: clamp(1rem, 2.4vw, 1.5rem);
}

.input-button:active{
    border-color: white;
}

.input-button:hover{
    cursor: pointer;
}